# mot_back/requirements.txt

fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary

# Adaptamos las versiones a las que tu entorno puede encontrar.
# Esta combinación es estable y compatible.
passlib==1.7.4
bcrypt==3.2.0

python-jose[cryptography]
pydantic-settings
pydantic[email]
python-multipart

google-generativeai 