<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="C:\home\site\wwwroot\startup.sh"
                  arguments=""
                  startupTimeLimit="600"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\home\LogFiles\python.log">
    </httpPlatform>
  </system.webServer>
</configuration>
